@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h1 class="text-center">Insanely Random</h1>

    <section>
        <section class="border-dark">

            <aside class="col-lg-4 col-md-4 col-sm-12">
                <p class="align-content-end">Life is like a box of chocolates you never know what you're gonna get.</p>
                <img class="align-content-center" src="https://media0.giphy.com/media/vbD9OoDgUOpkk/giphy.gif" alt="Alternate Text" />
            </aside>
            
            <aside class="col-lg-4 col-md-4 col-sm-12">
                <p class="align-items-baseline">Look up, look down, your pants falling down.</p>
                <img class="align-items-center" src="https://thumbs.gfycat.com/SmoggySoggyCaribou-small.gif" alt="Alternate Text" />
            </aside>
            
            <aside class="col-lg-4 col-md-4 col-sm-12">
                <p class="align-content-around">You can get the open hand, fist, or the duece rock paper scissors.</p>
                <img class="align-content-center" src="https://i.imgur.com/OpOX03p.gif" alt="Alternate Text" />
            </aside>

        </section>
    </section>
